#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  
}

.a:hover{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */

}
.about_sections {
  display: flex;
  align-items: top;
  min-height : 50vh;
  /* top: 2vh; */

}
.is_current{
  color:green;
  font-size: 5vw;


  
}
.menu_item{
  min-height : 30vh;
}
.menuButtons_container{
    /* background-color: #CBDDFF; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  align-items: top;
  justify-content: space-evenly;
  height :100%;

}
.header_container {
  height: 20vh;
  padding: 4vw;
  vertical-align: bottom;
}

.about_menu{
  display:flex;
  flex-wrap: nowrap;
  /* background-color: #CBDDFF; */
  border-radius:15px;
  padding: 1%;
  justify-content: space-evenly;
  font-size: 1.5vw;
  font-weight: 400;

}
.about_menu_container{
  transition: visibility 0s, opacity 0.5s linear;
}
.optical_logo{
  
  font-weight: 400;
  font-size:2.5vw;
}

.landing_container{
  padding: 4vw;
}

.footer_container{
  padding: 4vw;
  /* background-color: #AFC8F8; */

}
.dials_container{
  padding:4vw;
}
.h1{
  font-size:4vw;
  font-weight: 600;
}
.subText{
  font-size:1vw;
  font-weight:100;
}

.body{
  
}
.backToHome {
  margin: 3rem 0 0;
}