#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.a{
  color: inherit;
  text-decoration: inherit; /* no underline */
  padding-left:2vw;
  margin-right:2vw;
}

.a:hover{
  color: inherit; 
  text-decoration: inherit;
}
.aFooter{
  color: inherit; 
  text-decoration: inherit;
  margin-right:2vw;
}

.aFooter:hover{
  color: inherit; 
  text-decoration: inherit; 
}
.paper_container{
  height:100%;
  width:100%;
  /* margin: -10px; */
}
.about_sections {
  display: flex;
  align-items: top;
  margin-left:0%;

  scroll-margin-top: 300px;
  
}

.is_current{
  font-size: 5vw;


  
}
.menu_item{
  min-height : 30vh;
}
.menu_text_container{
  padding-left: 2vw;
  padding-right: 6vw;
  justify-content: flex-start;
}
.menuButtons_container{
  padding-top: 0%;
  margin-left: 0vw;
  position: -webkit-sticky;
  position: sticky;
  justify-content: flex-start;
  height :100%;
  overflow: hidden;
  width: 100%;
  margin-bottom:5%;
  
  top: 40vh;


}
@media only screen and (max-width:600px){
  .menuButtons_container{
    top:0vh;
  }
}
.header_container {
  height: 15vh;
  padding-left: 6vw;
  padding-right:6vw;
  vertical-align: bottom;
}


.body_type{
  max-width: 850px;
}
.menu_container{

}
.optical_logo{
  position:relative;
  height:100%;


}
.landing_container{
  padding-top: 15vh;
  padding-left: 6vw;
  padding-right: 6vw;

  height:85vh;
}

.landing_left_container{

  padding-right: 6vw;
}
.landing_right_container{

  filter: drop-shadow(0 0 5rem grey);
}
.mobile_landing_container{
  height:80vh;
  align-content: space-between;

}

.footer_container{
  padding-left: 4vw;
  align-items: center;

  padding-bottom: 5%;

  padding-top: 5%;


}
.footer_column_container{
  align-content: 'top';
}

.h1{
  font-size:4vw;
  font-weight: 600;
}
.subText{
  font-size:1vw;
  font-weight:100;
}

.body{
  
}
.backToHome {
  margin: 3rem 0 0;
}